body {
    font-family: 'myFont' !important;
    font-weight: normal;
    font-style: normal;
}

p {
    font-size: 20px;
}

h5 {
    margin-top: 1em !important;
}

.center {
    margin: auto;
    width: 80%;
}

.instructions {
    width: 100%;
    margin: auto;
    position: absolute;
    top: 0cm;
    font-size: 15px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

#cloud-img {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    width: 15em;
}

header {
    margin-top: 5em;
    margin-bottom: 1em;
}

footer {
    position: absolute;
    bottom: 0;
    font-size: 12px;
    width: 100%;
}

textarea {
    border: none !important;
    box-shadow: none !important;
    font-size: 34px;
    width: 90%;
    height: 200px;
    max-height: 300px;
    min-height: 200px;
    margin: 1em 0em 1em 0em !important;
    outline: none;
    resize: none;
    overflow-x: hidden;
    overflow-y: auto;
}

::-webkit-input-placeholder {
    font-size: 34px;
    color: #2A363B;
    height: 100%;
    vertical-align: middle;
}

::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 34px;
    color: #2A363B;
}

:-ms-input-placeholder {
    /* IE 10+ */
    font-size: 34px;
    color: #2A363B;
}

:-moz-placeholder {
    /* Firefox 18- */
    font-size: 34px;
    color: #2A363B;
}

.center-box {
    display: table;
    position: absolute;
    bottom: 8em;
}

.center-box-inner {
    width: 200px;
    height: 100px;
    display: table-cell;
    text-align: center;
    vertical-align: bottom;
}

.jar-img,
.back-img {
    width: 5em;
    background: none;
    border: none;
}

.back-img {
    width: 7em;
}

.animate {
    animation: moveBox;
    animation-duration: 1s;
    animation-iteration-count: 1;
    -webkit-animation: moveBox;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
}

.jar-img:hover,
.back-img:hover {
    cursor: pointer;
}

.jar-img:focus,
.back-img:focus {
    background: none !important;
}

.logo-img {
    width: 5em;
}

@media only screen and (max-width: 480px) and (max-width: 768px) {
    .instructions {
        font-size: 13px;
    }
    .logo-img {
        width: 2em;
    }
    #cloud-img {
        width: 5em;
    }
    #welcome-img {
        width: 10em !important;
        margin-bottom: 2em !important;
    }
    .jar-img {
        width: 4em;
    }
    .back-img {
        width: 6em;
    }
    .center-box {
        bottom: 4em;
        z-index: -1;
    }
    textarea,
    input,
    input[type=text]:not(.browser-default) {
        margin: 0.5em 0em 0.5em 0em !important;
        font-size: 24px;
    }

    .date {
        font-size: 13px;
    }
}

@media only screen and (max-width: 320px) {
    #login-error {
        margin: 0em !important;
    }

    .buttonStyle {
        margin-top: 0em !important;
    }

    h5 {
        margin-top: 0em !important;
    }
}

#switchBtn,
#closeBtn,
.historyBtn {
    width: 2.5em;
    margin: 0em;
    position: absolute;
    right: 1em;
    top: 1em;
}

#switchBtn:hover,
#closeBtn:hover,
.historyBtn:hover {
    cursor: pointer;
}

#tbt-title {
    margin-top: 1em !important;
}


/**** WELCOOOMEEEE *****/

.full-Screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}

#welcome-img {
    width: 20em;
    margin-top: 5em;
    margin-bottom: 5em;
}

.buttonStyle {
    border: 2px solid #2A363B;
    border-radius: 10px;
    width: 3em;
    margin-top: 1em;
    margin-right: 0.25em;
}

.buttonStyle:hover {
    cursor: pointer;
}

.buttonGroup {
    display: inline-flex;
}

input,
input[type=text]:not(.browser-default) {
    border: none !important;
    box-shadow: none !important;
    font-size: 34px;
    width: 90%;
    height: 1em !important;
    margin-top: 0.5em !important;
    outline: none;
    resize: none;
    overflow-x: hidden;
    overflow-y: auto;
}


/** HISTORY SCREEN */

#history {
    overflow: scroll
}

#history-list li {
    border-bottom: 1px solid rgba(153, 184, 152, 0.2)
}

.historyBtn {
    right: unset;
    left: 1em;
}

.historyBtn[data-type='year'] {
    top: 1em !important;
}

.historyBtn[data-type='month'] {
    top: 4em !important;
}

.historyBtn[data-type='week'] {
    top: 7em !important;
}

.date {
    margin: 5px;
    font-size: 20px;
}